In [1]:
#011
삼성전자 = 50000
총_평가금액 = 삼성전자*10
print(총_평가금액)

500000

In [2]:
#012
시가총액 = "298조"
현재가 = "50000원"
PER = 15.79

In [5]:
#013
s = "hello"
t= "python"

print(f'{s}! {t}')

hello! python

In [6]:
#014
2 + 2 * 3

8

In [7]:
#015
a = "132"
type(a)

str

In [8]:
#016
num_str = "720"
print(int(num_str))

720

In [10]:
#017
num = 100
print(str(num))

100 <class 'int'>

In [12]:
#018
num = "15.79"
result = float(num)

In [14]:
#019
year = "2020"
resultone = int(year) - 1
resulttwo = resultone  - 1
resultthree = resulttwo - 1
print(resultone,resulttwo,resultthree)

2019 2018 2017

In [16]:
#020
monthlyfee = 48584
totalfee = monthlyfee*36
print(totalfee)

1749024