In [12]:
x=["101호","102호"]
y=["201호","202호"]
z=["301호","303호"]

apart = []
apart.append(x)
apart.append(y)
apart.append(z)
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '303호']]

In [16]:
stock = {"시가":[100, 200, 300],"종가":[80, 210, 330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [18]:
stock = {"10/10":[80, 110, 70, 90],"10/11":[210, 230, 190, 200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [39]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col)

101
102
201
202
301
302

In [48]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col)

301
302
201
202
101
102

In [50]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col)

302
301
202
201
102
101

In [52]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col)
        print("----")

101
----
102
----
201
----
202
----
301
----
302
----

In [59]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col)
    print("---")

101
102
---
201
202
---
301
302
---

In [60]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col)
print("---")

101
102
201
202
301
302
---